ProcessArtistProposals/NegotiateAndEngage/SOA/WSDLs/AgentNegotiatorService_ep.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
     name="AgentNegotiator"
     targetNamespace="http://xmlns.oracle.com/AgentNegotiator/AgentNegotiator/AgentNegotiator"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:client="http://xmlns.oracle.com/AgentNegotiator/AgentNegotiator/AgentNegotiator"
     xmlns:ns1="valencia.insight.demo/agent-negotiator"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    >
    <wsdl:documentation>
        <abstractWSDL>http://10.10.10.29:7001/soa-infra/services/valencia-demo/AgentNegotiator!1.0/WSDLs/AgentNegotiator.wsdl</abstractWSDL>
    </wsdl:documentation>
    <plnk:partnerLinkType name="AgentNegotiator">
        <plnk:role name="AgentNegotiatorRequester" portType="client:AgentNegotiatorCallback"/>
        <plnk:role name="AgentNegotiatorProvider" portType="client:AgentNegotiator"/>
    </plnk:partnerLinkType>
    <wsp:Policy xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
         wsu:Id="wsaddr_policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"/>
    </wsp:Policy>
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="valencia.insight.demo/agent-negotiator" schemaLocation="../AgentNegotiationService.xsd"/>
        </schema>
    </wsdl:types>
    <wsdl:message name="AgentNegotiatorRequestMessage">
        <wsdl:part name="payload" element="ns1:gigOffer"/>
    </wsdl:message>
    <wsdl:message name="AgentNegotiatorResponseMessage">
        <wsdl:part name="payload" element="ns1:gigOfferResponse"/>
    </wsdl:message>
    <wsdl:portType name="AgentNegotiator">
        <wsdl:operation name="process">
            <wsdl:input message="client:AgentNegotiatorRequestMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="AgentNegotiatorCallback">
        <wsdl:operation name="processResponse">
            <wsdl:input message="client:AgentNegotiatorResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AgentNegotiatorBinding" type="client:AgentNegotiator">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsp:PolicyReference xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#wsaddr_policy"
             wsdl:required="false"/>
        <wsdl:operation name="process">
            <soap:operation style="document" soapAction="process"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="AgentNegotiatorCallbackBinding" type="client:AgentNegotiatorCallback">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="processResponse">
            <soap:operation style="document" soapAction="processResponse"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://xmlns.oracle.com/AgentNegotiator/AgentNegotiator/AgentNegotiator"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AgentNegotiatorService_ep">
        <wsdl:port name="AgentNegotiator_pt" binding="client:AgentNegotiatorBinding">
            <soap:address location="http://10.10.10.29:7001/soa-infra/services/valencia-demo/AgentNegotiator/AgentNegotiatorService_ep"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
